<section style="height:94vh; width:18vw">
  <nav class="sidenav">
    <ul class="menu" style="height: 8vh;padding:0%;">
      <li class="nav-item mx-auto d-block text-white" style="padding:0%; font-size:1.5em">Menu</li>
    </ul>
    <ul class="active">
      <li class="nav-item d-block"><a routerLink="/cabinets"> <i class="far fa-hospital fa-2x text-white"></i>
          Cabinet</a></li>
    </ul>
    <ul class="creation">
      <li class="nav-item d-block"><a routerLink="/creation-cabinet"> <i class="fas fa-edit fa-2x text-white"></i>
          Création Cabinet</a></li>
    </ul>
    <ul class="active">
      <li class="nav-item d-block"><a routerLink="/praticiens"> <i class="fas fa-user-md fa-2x text-white"></i>
          Praticien</a></li>
    </ul>
    <ul class="creation">
      <li class="nav-item d-block"><a routerLink="/creation-praticien"> <i class="fas fa-edit fa-2x text-white"></i>
          Création Praticien</a></li>
    </ul>
  </nav>
</section>