<div class="mainhead">
        <section class="d-flex justify-content-between">
                <article>
                        <img src="assets/img/logo.png" class="logo" alt="logo orthalis">
                </article>

                <article class="identification">
                        <img src="assets/img/identite.jpg" class="identite" alt="logo orthalis">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:0; padding:9px;">
                                        Administrateur 
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Deconnection</a>
                                </div>
                        </div>
                </article>
        </section>

</div>