.mainhead {
    height: 7vh;
    width: 100%;
    background-color: black;
    padding: 5px;
    z-index: 200;
}
.navbar{
    padding: 0%;
}
article {
    width: 60%;
}
.flexible{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logo {
    height: 6vh;
    width: auto;
    padding-left: 60px;
}

.identite {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.identification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-item a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}
.nav-item a:hover{
    color: #057cc6;
}